<div class="box">
  <h1 class="title is-1">List of Pokémon Types</h1>

  <div class="content">
    <ul>
    <% @types.each do |type| %>
      <li><%= link_to type.name, type, :class => "title is-6 has-text-link" %></li>
    <% end %>
    </ul>

    <h2 class="title is-3 mt-6">Type Weakness Chart</h2>
    <%= image_tag("type_chart.jpg", :alt => "Pokedex logo", :class => "pt-5 pb-5") %>
  </div>
</div>

