<div class="box">
  <h1 class="title is-2"><%= ability.name %> — Ability</h1>

  <div class="subtitle is-4 mt-5">
    <span class="has-text-weight-bold">Effect:</span> <%= ability.effect %>
  </div>
</div>

<div class="box has-background-grey-lighter">
  <h1 class="title is-2">Pokémon with <%= ability.name %></h1>

  <div class="fixed-grid has-3-cols has-2-cols-mobile">
    <div class="grid">
      <% @pokemons.each do |pokemon| %>
        <%= render partial: "pokemons/pokemon_card", locals: { pokemon: pokemon } %>
      <% end %>
    </div>
  </div>
</div>
