<div class="fixed-grid has-3-cols has-2-cols-mobile">
  <div class="grid">
    <% @pokemons.each do |pokemon| %>
      <%= render partial: "pokemons/pokemon_card", locals: { pokemon: pokemon } %>
    <% end %>
  </div>
</div>